:root {
    --primary-clr: #4fcbb7;
    --primary-hover-clr: hsl(170, 54%, 55%);
}

body {
    font-family: 'Nunito', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-clr);
    color: white;
    margin-bottom: 130px;
}

.header-left {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user__img {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    min-width: 10rem;
    padding: 1rem;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section.students {
    padding: 1rem;
    flex: 1;
}

.students__list {
    display: flex;
    flex-direction: column;
    max-width: min(70rem, 80vw);
    margin: 0 auto;
    overflow-x: auto;
}

.students__table {
    border-collapse: collapse;
}

.students__table td, th {
    border: 1px solid #ccc;
    text-align: center;
    padding: .25rem;
}

.students__table tbody tr:nth-child(odd) {
    background-color: #eee;
}

.students__table td:has(.status) {
    position: relative;
}

.students__table .status {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: gray;
}

.students__table .status.active {
    background-color: green;
}

input[type=checkbox] {
    accent-color: var(--primary-clr);
}

tr:has(input[type=checkbox]:checked) .status {
    background-color: green;
}

.students__btn {
    align-self: flex-end;
    background-color: var(--primary-clr);
    padding: .5rem 1rem;
    margin: .25rem;
    color: white;
    border-radius: .5rem;
    transition: all .2s ease-in-out;
}

.students__btn:hover {
    background-color: var(--primary-hover-clr);
    transform: scale(1.05);
}






.notification {
    position: relative;

}

.bell-icon {
    transition: transform .25s ease-in-out;
}

.bell-icon:hover {
    transform: translate3d(0,0,0);
    scale: 1.1;
    animation: shake .4s ease-in-out 2;
    transform-origin: top;
}

.notification .new::before {
    content: '';
    position: absolute;
    right: .125rem;
    top: .125rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: gold;
}

.notification:not(:hover) .notification-panel  {
    display: none;
}

.notification-panel {
    transition: all .4s;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 9rem;
    background-color: white;
    color: black;
    border-radius: .325rem;
    border: 1px solid black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);;
}


.notification-panel li {
    padding: .25rem 1rem;
    border-radius: .325rem;
    transition: all .2s;
}

.notification-panel li:hover {
    background-color: rgba(128, 128, 128, 0.267);
}

.user-container:not(:hover) .user-panel  {
    display: none;
}

.user-container {
    position: relative;
}

.user-panel {
    position: absolute;
    background-color: white;
    color: black;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    min-width: 9rem;
    border-radius: .325rem;
    border: 1px solid black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);;
}

.user-panel li {
    padding: .25rem 1rem;
    border-radius: .325rem;
    transition: all .2s;
}



.user-panel li:hover {
    background-color: rgba(128, 128, 128, 0.267);
}

.
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



/* Utils */

.hidden {
    display: none;
}


.notification {
    background-color: #f8f9fa; /* Button background color */
    border: none;
    color: #343a40; /* Button text color */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    cursor: pointer;
    border-radius: 5px; /* Button border radius */
    transition: background-color 0.3s ease;
}

.notification:hover {
    background-color: #e9ecef; /* Hover background color */
}


.profile-button, .signout-button {
    background-color: rgba(81, 157, 81, 0.51); /* Button background color */
    border: none;
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    margin-top: 4px;
    font-size: 16px; /* Button font size */
    cursor: pointer;
    border-radius: 5px; /* Button border radius */
    transition: background-color 0.3s ease;
}

.profile-button:hover, .signout-button:hover {
    background-color: #dca4a4; /* Hover background color */
}

.no-bullets {
    list-style-type: none;
    padding: 0; /* Remove default padding */
}

.blur {
    filter: blur(5px);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    backdrop-filter: blur(5px);
}

p.user__name{
    margin-bottom: 0;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 409px){

    .user{

    }
    .notification{
        margin-left: 70px;
    }

}


