*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.hero{
    position: relative; /* Set position to relative to make it the reference point */
    width: 100%;
    min-height: 0vh;
    /* background: #bdfab9; */
    color: aqua;
}

nav p {
    font-size: 20px; /* Set the desired font size */

}

.theStudentLife{
    font-size: 40px;
}

.buttonUnder {
    /* Add your button styles here */
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #ececec;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
}

.buttonUnder:hover {
    background-color: #ccc; /* Change background color on hover */
}


.notification-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 0px; /* Push notification container to the left */
}

.user-pic {
    margin-left: auto;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.divForEditDeleteObjects {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    display: inline-block;
    margin-right: 10px;
}



.green-box {
        background-color: rgba(81, 157, 81, 0.51);
        color: white;

        padding: 2px 5px; /* Adjust padding as needed */
        border-radius: 5px; /* Adjust border-radius as needed */
}



.header-left .notification-panel ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.header-left .notification-panel ul li i {
    vertical-align: middle;
}



.tableClass{
    margin: auto;
    border-spacing: 40px;
    border-radius: 20px;
    color: black;
}





.tableClass h2{
    margin: 0px;
}
.tableClass th{
    text-align: left;
}

table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

.tableClass caption{
    text-align: left;
    font-size: xx-large;
    caption-side: top; /* Ensure caption appears above the table */
    padding-bottom: 0px; /* Adjust padding-bottom as needed */

}

.plusForTable {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.gg th {
    padding: 10px;
    text-align: center;
}

.gg th a {
    display: block;
    text-decoration: none;
    color: #333;
}

.gg th a:hover {
    background-color: #f0f0f0;
}

.containerForDoubleDiv {
}

.left {
    float: left;
    width: 0%;
    position: absolute;
    top: 150px;
    left: 25px;
}

.right {
    width: 1%;
}



.forTableEdit{
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    display: inline-block;
    margin-right: 10px; /* Optional: Add spacing between divs */
}


.modal {
    background: red;
    color: rgb(255, 255, 255);
    width: 25%;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hide the modal */

    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.buttonUnder {
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.modalBox hr{
    border: none;
    border-top: 2px solid #ccc;
    margin-bottom: 10px;
}


.table-container{
    margin-left: 0px;
    overflow-y: auto;
}


@media screen and (max-width: 769px){

    .left {
        float: left;
        width: 0%;
        position: absolute;
        top: 100px;
        left: 25px;
    }

    .table-container{
        margin-left: 10px;
        margin-top: 200px;
    }


}


.modalBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 130px;
    background-color: #fff;
    border: 1px solid #1a1919;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.modalBox span{
    position: relative;
    bottom: 10px;
}

.closeModal {
}


.openModal{
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    display: inline-block;
    margin-right: 10px; /* Optional: Add spacing between divs */

}



h1.header__title,
header.header,
p.user__name {
    color: black/* Adjust text color to ensure sufficient contrast with the background */;
    /* Optionally, adjust background color if necessary */
}



.custom-btn {
    color: black; /* Set text color to black */
    border-color: green; /* Set border color to green */
}

.custom-btn:hover {
    color: white; /* Change text color on hover */
    background-color: green; /* Change background color on hover */
}

