* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

button {
    width: 20%;
}

input,
button {
    border-radius: 10px;
    padding: .5rem;
}

.chat-display {
    background-color: #e1dee9;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: #b6a6ca;
}

.post__header--reply {
    background-color: #a09abc;
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.user-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}

.room-list{
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}


/* Style for the header container */
.header-container {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around the header */
}

/* Style for the header title */
.header__title {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Set font size */
}

/* Style for the user container */
.user-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center align items vertically */
}

/* Style for the user name */
.user__name {
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make the name bold */
    margin-right: 20px; /* Add spacing between name and buttons */
}

/* Style for the buttons in the user panel */
.user-panel button {
    background-color: #555; /* Dark background color for buttons */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 5px 10px; /* Padding inside buttons */
    margin-left: 10px; /* Add spacing between buttons */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Style for the buttons on hover */
.user-panel button:hover {
    background-color: #777; /* Darker background color on hover */
}
